*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-image: url(./html/images/body-bg.png);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    background-color: black;
    justify-content: space-between;
    width: 42cm;
}

.navleft{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EB50B;
    width: 8cm;
    margin-left: 3cm;
    color: white;
    font-weight: 700;
}

#icon_call{
    padding: 0px 7px;
}

.navmid{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.navright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EB50B;
    width: 8cm;
    margin-right: 3cm;
    color: white;
    font-weight: 700;
}

#icon_email{
    padding: 0px 7px;
}

.nav_links_left{
    display: flex;
}

.nav_links_left ul{
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 41cm;
}

ul a{
    list-style-type: none;
    margin: 0px 7px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: Arial;
}
.nav_links_right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EB50B;
    width: 42cm;
    height: 1cm;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    margin-right: 5px;
}

.collections{
    background-color: rgba(37, 37, 37, 0.884); 
    height: 2cm;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    padding-top: 20px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.collections_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.collection_info_one{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.collection_one{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.884); 
    width: 42cm;
    padding-bottom: 15px;
    padding-top: 25px;
}

.collection_info_one{
    display: flex;
    flex-direction: column;
}

.collection_two{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.884); 
    width: 42cm;
    padding-bottom: 15px;
}

.collection_info_two{
    display: flex;
    flex-direction: column;
}

.collection_three{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.884) ;
    width: 42cm;
    padding-bottom: 2cm;
}

.collection_info_three{
    display: flex;
    flex-direction: column;
}

.info_one_head{
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px black;
}

.info_one_p{
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px black;
}

.info_one_butn{
    background-color: #8EB50B;
    border: none;
    width: 3cm;
    padding: 10px;
    border-radius: 7px;
    margin-left: 15px;
}

.info_two_head{
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px black;
}

.info_two_p{
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px black;
}

.info_two_butn{
    background-color: #8EB50B;
    border: none;
    width: 3cm;
    padding: 10px;
    border-radius: 7px;
    margin-left: 15px;
}

.info_three_head{
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px black;
}

.info_three_p{
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px black;
}

.info_three_butn{
    background-color: #8EB50B;
    border: none;
    width: 3cm;
    padding: 10px;
    border-radius: 7px;
    margin-left: 15px;
}

.footer_section{
    background-color: rgba(37, 37, 37, 0.884);
    height: 10cm;
    display: flex;
    justify-content: center;
}

.footer_section> .extra_links{
    width: 26cm;
    height: 5cm;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2cm;
}

.footer_section> .extra_links> .short_intro{
    /* background-color: black; */
    height: 190px;
    width: 9cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.footer_section> .extra_links> .navigation{
    /* background-color: black; */
    height: 190px;
    width: 9cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.navigation_head .navigation_head_p{
    width: 100%;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
}

.footer_section> .extra_links>.contact_info{
    /* background-color: black; */
    height: 190px;
    width: 9cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.location_head_p1{
    color: #8EB50A;
    margin-left: 15px;
}

.location_head_p2{
    color: white;
    font-size: 13px;
    margin-top: 7px;
}

.customer_services{
    color: #8EB50A;
    margin-left: 15px;
    margin-top: 7px;
}

.gmail{
    color: white;
    margin-top: 7px;
}

.contact_info_head{
    width: 100%;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
}

.footer_section> .extra_links>.discover{
    height: 190px;
    width: 9cm;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    color: white;
    position: relative;
    top: 25px;
}

#NAV_links{
    list-style-type: disc;
    margin-left: 20px;
    color: white;
}

.discover_a_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discover_a_links a{
    padding-top: 1px;
    color: white;
    text-decoration: none;
    padding-top: 5px;
}

ol{
    list-style-type: none;
}

.discover p{
    width: 100%;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
}

.img_links{
    display: flex;
    font-size: 40px;
    margin-top: 20px;
    justify-content: space-around;
}
.short_intro_head span{
width: 100%;
    float: left;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0;
    font-size: 25px;
    margin-top: 15px;
}

.short_intro_head> p {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #f8f8f8;
    margin: 0;
    padding-top: 10px;
}

.footer {
    height: 60px;
    background-color: #8EB50A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}